

.div-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.userForm{
  display: flex;
  flex-direction: row;
  max-width: 800px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  border: 4px double yellow;
  border-radius: 10px;
  background-color: rgb(251, 221, 165);
  position: relative;
}

.userForm .left{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  background-color: orange;
  justify-content: center;
  align-items: center;
}

.userForm .left .div-image{
  width: 100%;
  height: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.userForm .left .div-image img{
  width: 100%;
}
.userForm .left .div-upload{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userForm .left .div-upload .image-button {
  padding: 7px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rgb(250, 199, 104);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}
.userForm .left .div-upload .image-button:hover {
  opacity: 0.7;
}
.userForm .left .div-upload .image-button:active {
  opacity: 0.5;
}

.userForm .right{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0px 50px;
}

.userForm .right .div-form{
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.userForm .right .div-form .item{
  margin: 10px 0px;
  width: 100%;
  max-width: 450px;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
}
.userForm .right .div-form .item .div-input{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.userForm .right .div-form .item .div-input .div-label{
  width: 100px;
  display: flex;
  justify-content: start;
}
.userForm .right .div-form .item .div-input select,
.userForm .right .div-form .item .div-input input{
  border: none;
  border-radius: 5px;
  width: 200px;
  padding-left: 5px;
  font-size: 15px;
}
.userForm .right .div-form .item .div-input select:focus,
.userForm .right .div-form .item .div-input input:focus{
  outline-color: yellow;
}

.userForm .right .div-form .item .div-error{
  font-size: 14px;
  color: red;
}

.userForm .right .div-form button{
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 6px 30px;
  font-size: 15px;
  background-color: rgb(250, 199, 104);
  color: white;
}
.userForm .right .div-form button:hover{
  opacity: 0.7;
}

.userForm .right .div-form .div-login{
  margin-top: 20px;
  font-size: 14px;
}
.userForm .right .div-form .div-login span a{
  text-decoration: none;
  color: yellow;
}

.failedText{
  color: red;
  font-size: 20px;
}
.successText{
  color: rgb(48, 144, 48);
  font-size: 20px;
}

.div-logout{
  position: absolute;
  top: 20px;
  right: 20px;
}

.div-logout .logoutForm button{
  text-decoration: none;
  background-color: rgb(250, 199, 104);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}
.div-logout .logoutForm button:hover{
  opacity: 0.7;
}